* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #f1f5f8;
    font-family: "Work Sans", serif;
}
.navbar-container{
    display: none;
    justify-content: space-between;
    align-items: center;
    margin: 5px 2px;
    padding: 2% 5%;
    width: 100wv;
    background-color: white;
    border-radius: 10px;
}
.logo{
    font-size: 150%;
    font-weight: 400;
    width: 20vw;

}
.nav-links ul{
    display: flex;
    align-items: center;
    list-style: none;
    width: 60vw;
    justify-content: space-between;

}

.nav-links ul li a{
    text-decoration: none;
    padding: 15px 15px;
    color: rgb(70, 68, 68);
    font-size: 20px;
}
.hamburger{
    display: none;
}
@media (max-width: 738px) {
    .navbar-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 5px 2px;
        padding: 5px 20px;
        width: 100wv;
        background-color: white;
    }
    .logo{
        font-size: 150%;
        font-weight: 400;
        width: 20vw;
    
    }
    .nav-links ul{
        display: none;
        align-items: center;
        list-style: none;
        justify-content: space-between;
    
    }
   
    .nav-links ul li a{
        text-decoration: none;
        padding: 15px 15px;
        color: rgb(70, 68, 68);
        font-size: 40px;
    }
    .hamburger{
        display: block;
}
}
@media (min-width: 738px) and (max-width: 1200px) {
    .navbar-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 5px 2px;
        width: 100wv;
        background-color: white;
    }
    .logo{
        font-size: 130%;
        font-weight: 400;
        width: 20vw;
    
    }
    .nav-links ul{
        display: flex;
        align-items: center;
        list-style: none;
        justify-content: space-between;
    
    }
    
  
    .nav-links ul li a{
        text-decoration: none;
        padding: 15px 15px;
        color: rgb(70, 68, 68);
        font-size: 105%;
    }
    .hamburger{
        display: none;
}
}
@media (min-width: 1200px) and (max-width: 2560px) {
    .navbar-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 5px 2px;
        width: 100wv;
        background-color: white;
    }
    .logo{
        font-size: 230%;
        font-weight: 400;
        width: 20vw;
    
    }
    .nav-links ul{
        display: flex;
        align-items: center;
        list-style: none;
        justify-content: space-between;
    
    }
   
    .nav-links ul li a{
        text-decoration: none;
        padding: 15px 15px;
        color: rgb(70, 68, 68);
        font-size: 225%;
    }
    .hamburger{
        display: none;
}
}